<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<head>
<title></title>


</head>
<body>
<div id="header">



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <section class="section1">
        
        <div class="menu_content">
            <header>
            <div class="container">
                <div class="name">
                  <img class="logo" src="../public/img/logo/logo.png" alt="logo">
                </div>
                <nav>
                   <ul>
                            <li class="item1"><a href="/">Главная</a></li>
                            <li class="item2"><a href="/menu">Прайс лист</a></li>
                            
                            
                            <li class="item5"><a href="/login">Юзер логин</a></li>
                            <li class="item6"><a href="/registration">Регистрация</a></li>
                            <li class="item7"><a href="/admin">Админ логин</a></li>
                    <li class="item8"><div id="bar">
</div></li>
                    </ul>
                </nav>
            </div>
        </header>
        
            <div class="container">
                <div class="menucontentcontainer">
                                            <div class="categories">

     </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class = 'container'>
        
      <div>
        <label for="data" class="form-label">Result of your query: </label>
        <% if(Array.isArray(mydata)){%>
            <table>
                <tr><td>First Name</td><td>Last Name</td><td>Email</td><td>Phone</td></tr>

            <%for(let a=0;a <mydata.length;a++){%>
                <tr><td><%=mydata[a].firstName%></td><td><%=mydata[a].lastName%></td><td><%=mydata[a].email%></td><td><%=mydata[a].phone%></td></tr>
            <%}%>
            </table>
        <%}else{%>
        <label for="data" class="form-label"> <%=mydata%>
        </label>
        <%}%>
    </div>


	<div class="block_products">

</div>
</div>
</div>


        </div>
    </div>
</div>

    <div class="searchcontainer">
    <input type="text" id="food" placeholder="Найти калорийность еды">
    <button id="btn"></button>
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                  <div class="calories1">
                    <div id="calories"></div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="carbs1">
                    <div id="carbs"></div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="proteins1">
                    <div id="proteins"></div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="fats1">
                    <div id="fats"></div>
                  </div>
                </div>
              </div>
        </div>
    </div>


    <div class="container">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <p>А вы знали что для здоровья необходимо потреблять правильное количество питательных веществ?</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="proteins">
                <form action="/user" method="POST">
                    <input type="hidden" name="email" value="New York baked cheesecake" />
                    <button type="submit" class="btn">Добавить в корзину</button>
                </form>
            </div>
            
          </div>
          <div class="col-md-4">
            <div class="carbs">
                <form action="/user" method="POST">
                    <input type="hidden" name="email" value="New York baked cheesecake" />
                    <button type="submit" class="btn">Добавить в корзину</button>
                </form>
            </div>
            
          </div>
          <div class="col-md-4">
            <div class="fats">
                <form action="/user" method="POST">
                    <input type="hidden" name="email" value="Carrot and walnut cake" />
                    <button type="submit" class="btn">Добавить в корзину</button>
                </form>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="proteins">
                <form action="/user" method="POST">
                    <input type="hidden" name="email" value="Lemon yoghurt cake with syrup" />
                    <button type="submit" class="btn">Добавить в корзину</button>
                </form>
            </div>
          </div>
          <div class="col-md-4">
            <div class="carbs">
                <form action="/user" method="POST">
                    <input type="hidden" name="email" value="Chocolate mud cupcakes" />
                    <button type="submit" class="btn">Добавить в корзину</button>
                </form>
            </div>
          </div>
          <div class="col-md-4">
            <div class="fats">
                <form action="/user" method="POST">
                    <input type="hidden" name="email" value="Flourless orange cake" />
                    <button type="submit" class="btn">Добавить в корзину</button>
                </form>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="proteins">
                <form action="/user" method="POST">
                    <input type="hidden" name="email" value="Vanilla cupcakes" />
                    <button type="submit" class="btn">Добавить в корзину</button>
                </form>
            </div>
          </div>
          <div class="col-md-4">
            <div class="carbs">
                <form action="/user" method="POST">
                    <input type="hidden" name="email" value="Basic sponge cake" />
                    <button type="submit" class="btn">Добавить в корзину</button>
                </form>
            </div>
          </div>
          <div class="col-md-4">
            <div class="fats">
                <form action="/user" method="POST">
                    <input type="hidden" name="email" value="Chocolate birthday cake" />
                    <button type="submit" class="btn">Добавить в корзину</button>
                </form>
            </div>
          </div>
        </div>

    </div>
</div>


 <footer>
        <div class="footerbg">
            <div class="container">
                <div class="footercontent">
                    <div class="footerblock">
                        <a href="https://www.instagram.com/ryaaafjjw/">Инстаграм</a>.
                        <br>
                        <a href="https://twitter.com/sqrtyernar">Твиттер</a>.
                        <br>
                        <a href="yernarique@gmail.com">Почта</a>.
                    </div>
                    <div class="footerblock">
                        Clannad. 2021
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="../public/js/api.js"></script>
</body>

</html>